body{
	font-family: georgia, times, serif; 
	color: #333;
	font-size: 1.2rem;
	line-height: 1.2em;
	margin: 0;
}

h2{
	font-size: 2rem; 
	line-height: 1.3em;
}
p {
	margin-bottom: 1.6em;
}

.container{
	width: 85%;
	max-width: 850px;
	margin: 0 auto;
}

.header{
	background: #333;
	color: white;
	padding: 2rem 0;

	position: fixed;
	left: 0;
	top :0;
	right: 0;
}

.header a{
	color: white;
	text-decoration: none;
}

.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.logo{
letter-spacing: 15px;
font-size: 1.4em;
}

.menu-icon{
display: none;
}

.navegacion ul{
margin: 0;
padding: 0;
list-style:none;
}

.navegacion ul li{
display: inline-block;
}

.navegacion ul li a{
display: block;
padding: 0.5rem 1rem;
transition: all 0.4s linear;
border-radius: 5px;

}

.navegacion ul li a:hover{
background: #4a4a4a;
}

.main{
	padding-top: 12rem;
}

.footer{
	background: #f2f2f2;
	padding: 4rem 0;
	text-align: center;
	margin-top: 6rem;
}

@media only screen and (max-width: 767px){

.menu-icon{
display: block;
cursor: pointer;
padding: 0.5rem 1rem;
}
.navegacion{
width: 100%;
margin-top: 1rem;
}

.navegacion ul{
display: none;
}

.navegacion ul.show{
display: block;
}

.navegacion ul li{
display: block;
}

.navegacion ul li a{
display: block;
padding: 0.5rem 0;
transition: all 0.4s linear;
border-radius: 5px;

}

.navegacion ul li a:hover{
background: #4a4a4a;
} 	
}
